/* Page Panel Search Company
------------------------------------
*/
.panelSearchCompany{
  .panel{
    .panel-body{
      .info{
        color: #c0bebe;
        font-style: italic;
      }
    }
  }
}

.searchCotraitant{
  .panel{
    .panel-body{
      .info{
        color: #c0bebe;
        font-style: italic;
      }
    }
  }
}